@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

body {
    margin: 0px;
    padding: 0px;
    background-color:rgb(238, 218, 222);
    font-family: "Spicy Rice", cursive;
  }
  h1 {
    height: 50px;
    width: 100%;
    margin: 0px;
    position: fixed; 
    padding: 25px;
    font-size: 5em;
    top: 0;
    left: 0;
    background-color: rgba(71, 6, 6, 0.877);
    color: rgb(255, 244, 246);
}

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  #contenedor{
    width: 50%;
    background-image: linear-gradient(rgb(71, 6, 6), #e12345);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1em;
    border-radius: 15px;
    width: 30%;
    box-shadow: 3px 3px 10px rgb(71, 6, 6);
    background-color: rgb(255, 255, 255);
  }
  #contenedor img {
    width: 40%;
  }
  #contenedor h1 {
    font-size: 2.3em;
    margin-bottom: 1em;
  }
  #contenedor div {
    font-size: 1em;
    font-family: "Questrial", sans-serif;
  }
  
  #random {
    cursor: pointer;
    font-family: "Questrial", sans-serif;
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 30%;
    background-color:rgb(238, 218, 222);
    color: rgb(71, 14, 14);
    font-size: 0.9em;
    border: 4px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 7px;
  }